<body>
    <img class="logo" src="../../assets/logo/vector/default-monochrome-white.svg" alt="">

    <div class="ButtonDarkMain">
        <div class="buttonSignin"></div>
        <div class="signin">Sign In</div>
    </div>

    <div class="ButtonDarkAdditonal">
        <div class="buttonSignup"></div>
        <div class="signup">Sign In</div>
    </div>

    <div class="skipForNow">Skip for now</div>
      
      
</body>



<!-- <body>
    <div class="BackgroundDark" style="width: 428px; height: 926px; left: 0px; top: 0px; position: absolute; mix-blend-mode: multiply; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div class="BackgroundDark" style="width: 428px; height: 926px; background: rgba(13, 139, 255, 0)"></div>
    </div>
    <div class="ButtonDarkMain" style="width: 331px; height: 55px; left: 29px; top: 679px; position: relative; margin-left: auto; margin-right: auto;">
      <div class="Bg" style="width: 331px; height: 55px; left: 0px; top: 0px; position: absolute; background: #B46000; border-radius: 12px"></div>
      <div class="LogIn" style="width: 327px; left: 2px; top: 16px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Gilroy; font-weight: 700; word-wrap: break-word">Sign In</div>
    </div>
    <div class="ButtonDarkAdditional" style="width: 331px; height: 55px; left: 29px; top: 745px; position: absolute">
      <div class="Bg" style="width: 331px; height: 55px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px; border: 1px white solid"></div>
      <div class="CreateAccount" style="width: 327px; left: 2px; top: 16px; position: absolute; text-align: center; color: #031925; font-size: 18px; font-family: Gilroy; font-weight: 700; word-wrap: break-word">Sign Up</div>
    </div>
    <div class="SkipForNow" style="width: 327px; left: 31px; top: 811px; position: absolute; text-align: center; color: white; font-size: 12px; font-family: Gilroy; font-weight: 400; word-wrap: break-word">Skip for now</div>
    <div class="TigerLogo" style="width: 137.01px; height: 90px; left: 126px; top: 48px; position: absolute">
      <div class="Vector" style="width: 137.01px; height: 90px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div class="Vector" style="width: 10.59px; height: 13.26px; left: 12.67px; top: 9.05px; position: absolute; background: white"></div>
      <div class="Vector" style="width: 12.92px; height: 15.71px; left: 17.36px; top: 7.61px; position: absolute; background: white"></div>
    </div>
    <div class="Vector" style="width: 242.35px; height: 60px; left: 74px; top: 142px; position: absolute; background: white"></div>
</body> -->