.mainContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

.bg {
  background: linear-gradient(165deg, #b46000 12%, #090301 97%);
  left: -10px;
  top: -10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 30px;
  position: fixed;
  padding: 70px;
}

.formContainer{
  float: left;
}

.img{
  height: 400px;
  width: 400px;
}

.imgContainer{
  float: left; 
  min-width: fit-content;
  margin-left: 120px; 
  margin-top: 40px;
}

.hello {
  color: white;
  font-size: 50px;
  font-family: Gilroy;
  font-weight: 600;
  word-wrap: break-word;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.otherText {
  color: black;
  font-size: 25px;
  font-family: Gilroy;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: 25px;
}

.TextBoxContainer {
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 25px;
  display: flex;
  width: max-content;
}

.textBox {
  width: calc(100vw - 700px);
  height: 100%;
  padding: 15px;
  background: white;
  border-radius: 10px;
  border: 1px black solid;
  align-items: center;
  font-size: 20px;
}

.forgotpassword {
  color: white;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 200;
  word-wrap: break-word;
  margin-top: 10px;
  align-self: flex-end;
}

.signin {
  width: calc(100vw - 670px);
  height: 100%;
  text-align: center;
  color: white;
  background:black;
  padding: 10px; 
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 700;
  word-wrap: break-word;
  border-radius: 10px;
  border: black;
}

.signin:disabled{
  background: #cccccc;
  border: red;
  text-decoration:line-through;
  color: #666666;
}

.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .bg{
    padding: 25px;
  }
  .hello {
    font-size: 35px;
    margin-left: 25px;
    margin-top: 15px;
  }

  .otherText {
    font-size: 22px;
    margin-left: 25px;
  }

  .TextBoxContainer {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 25px;
    display: flex;
    width: max-content;
  }

  .textBox {
    width: calc(100vw - 150px);
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
  }

  .signin{
    width: calc(100vw - 130px);
  }

  .forgotpassword {
    font-size: 16px;
    font-weight: 200;
    margin-top: 2px;
    align-self: flex-end;
  }

  .formContainer{
    float: none;
    margin-top: 50px;
  }

  .imgContainer{
    float: none;
    width: calc(100vw - 130px);
    position: absolute;
    text-align: center;
    margin-left: 25px;
  }

  .img{
    height: 260px;
    width: 260px;
  }
}
